body {
	padding-top: 70px;
}
div.panel {
	margin-bottom: 50px;
}
a.anchor {
	/* compensate for fixed nav bar at top of page */
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}
li.media {
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}
#last {
	border-bottom: none;
}
li.media h3 small {
	font-style: italic;
}
p.prj-link {
	font-style: italic;
}
img.media-object {
	width: 200px;
}
#contact-row {
	padding-bottom: 15px;
}
#final-line {
	padding-top: 25px;
}
